In [7]:
#wap to create a billing system
bill = []
net_total=0
n = int(input("enetr value of n"))
for i in range(1,n+1):
    name = input("enter the name of product =")
    price = int(input("enter price"))
    quantity = int(input("enter quantity"))
    total =  price * quantity
    row = [i,name,price,quantity,total]
    bill.append(row)
    net_total = net_total + total
print("the billing is \n",bill)

enetr value of n2
enter the name of product =a
enter price2
enter quantity23
enter the name of product =b
enter price24
enter quantity24
the billing is
 [[1, 'a', 2, 23, 46], [2, 'b', 24, 24, 576]]

In [9]:
for i in bill:
    print(i)

[1, 'a', 2, 23, 46]
[2, 'b', 24, 24, 576]

In [14]:
search = input("enter product name: ")
for i in bill:
    if search in i:
        print(i)

enter product name: momo

In [26]:
result = []
n=int(input("enter number of student"))
for i in range(n):
    name = input("enter name of student")
    physics = int(input("enter marks in physics"))
    chemistry = int(input("enter marks in chemistry"))
    maths = int(input("enter marks in maths"))
    english = int(input("enter marks in english"))
    total = sum([physics,chemistry,maths,english])
    percentage = total/5
    print("the result is ",data)
    if percentage > 80:
        grade = "A"
    elif percentage > 60:
        grade = "B"
    elif percentage > 40:
        grade = "C"
    else:
        grade = "D"
    data = [i,physics,chemistry,maths,english,total,percentage,grade]
    result.append(data)    
print(result)

enter number of student2
enter name of studentram
enter marks in physics23
enter marks in chemistry23
enter marks in maths23
enter marks in english23
the result is  [1, 234, 32, 32, 42, 340, 68.0, 'B']
enter name of studentshyam
enter marks in physics34
enter marks in chemistry34
enter marks in maths34
enter marks in english34
the result is  [0, 23, 23, 23, 23, 92, 18.4, 'D']