In [1]:
#Python Collections

#List 
#Tuples
#Dictionary
#set

In [18]:
#list
#--->>indexed
      --
#--->>ordered
#----->>duplicate members
#----->>>mutable >> mutable actions cannot be printed

# used for handling data and not mathematical purpose

IndentationError: unexpected indent (<ipython-input-18-704c1b349543>, line 3)

In [3]:
a = list()
print(a)

[]

In [4]:
a =["apple",1,34.34]
print(a)

['apple', 1, 34.34]

In [5]:
type(a)

list

In [6]:
a =["apple",1,34.34]
len(a)

3

In [3]:
a = ["apple", "banana", "citrus","orange"]
a[3]

'orange'

In [5]:
a = ["apple", "banana", "citrus","orange"]
a[0:3]

['apple', 'banana', 'citrus']

In [6]:
a = ["apple", "banana", "citrus","orange"]
b = ["dog", "elephant"]
print(a+b)

['apple', 'banana', 'citrus', 'orange', 'dog', 'elephant']

In [9]:
#duplicate members
a = ["apple", "banana", "citrus","orange"]
b = ["dog", "elephant"]
print(a*3)

['apple', 'banana', 'citrus', 'orange', 'apple', 'banana', 'citrus', 'orange', 'apple', 'banana', 'citrus', 'orange']

In [12]:
#ordered
a = ["apple", "banana", "citrus","orange"]
b = ["dog", "elephant"]
print(b+a)

['dog', 'elephant', 'apple', 'banana', 'citrus', 'orange']

In [14]:
#list cannot take string as input
a =[]
n = int(input("enter a number n ="))
for i in range(n):
    name = input("enter value of x =")
    a = a + [name]
print(a)

enter a number n =3
enter value of x =ram
enter value of x =shyam
enter value of x =jeshan
['ram', 'shyam ', 'jeshan']

In [ ]:
a =[]
n = int(input("enter a number n ="))
for i in range(n):
    
    name = input("enter value of x =")
    a = a + [name]
print(a)

In [2]:
a =[]
n = int(input("enter a number n ="))
for i in range(n):
    y = int(input("enter rol number"))
    a = a + [y]
print("the list is =",(a))
print("the sum is = ",sum(a))
print("the maximum number is = ",max(a))
print("the minimum number is= ",min(a))

enter a number n =2
enter rol number3
enter rol number4
the list is = [3, 4]
the sum is =  7
the maximum number is =  4
the minimum number is=  3

In [4]:
a.sort()
#sorts the value and stores in given variable
print(a)

[3, 4]

In [8]:
a

[4, 3]

In [10]:
a.reverse()
print(a)

[3, 4]

In [16]:
#sorts on the basis of ascii value
a = ["apple", "banana", "citrus","orange","*"]
a.sort()
print(a)

['*', 'apple', 'banana', 'citrus', 'orange']

In [23]:
#functions of list
#append()
a = ["ball"]
b = "apple"
a.append(b)
print(a)

['ball', 'apple']

In [25]:
a = [1]
a.append(2)
print(a)

[1, 2]

In [28]:
a =[]
n = int(input("enter a number n ="))
for i in range(n):
    y = int(input("enter rol number"))
    a.append(x)
print("the list is =",(a))
print("the sum is = ",sum(a))
print("the maximum number is = ",max(a))
print("the minimum number is= ",min(a))

enter a number n =2
enter rol number2

NameError: name 'x' is not defined

In [33]:
#insert() --->>> insert a data in list
a = ["apple","ball"]
a.insert(1,"bat")
a

['apple', 'bat', 'ball']

In [34]:
n =len(a)
for i in range(n):
    print(a[i])

apple
bat
ball